<section class="main">
    <app-sidebar/>
    <section class="employees">
        <div class="nav">
            <div class="research">
                <app-barra-pesquisa/>
            </div>
        </div>
        
       
        <div class="cards-conteiner">

            <card-user/>
            <card-user/>
            <card-user/>
            <card-user/>
            <card-user/>
            <card-user/>
            <card-user/>
            <card-user/>
            <card-user/>
            <card-user/>
            <card-user/>
            <card-user/>
            <card-user/>
            <card-user/>
            <card-user/>
            <card-user/>
            
        </div>
    </section>
</section>