@import '../../../styles/variables.scss';
:host {
  display: block;
  width: 100%;
  height: 100%; 
}
.card {
    display: grid;
    height: 130%;
    grid-template-columns: 0.3fr 0.7fr;
    border: 1px solid $background-color;
    border-radius: 8px;
    overflow: hidden;
    background-color: $background-color;
    font-family: $font-family-primary;
    
    .img{
        display: flex;
        align-self: center;
        justify-self: center;
        align-items: center;
        justify-content: center;
        background-color: $background-img-color;
        border-radius: 100%;
        width: calc($img-logo * 1.6); 
        height: calc($img-logo * 1.6); 
        overflow: hidden; 
       
        .card-img {
            width: $img-logo;
            height: $img-logo;
        }
    }
  

    .card-info{
        display: flex;
        flex-direction: column;
        align-self: center;
        .card-title {
            font-size: $font-title;
            color: $text-color;
            font-weight: $font-weight;
        }

        .card-description {
            font-size: $font-subtitle;
            color: $text-light-color;
        }
    }
  
    &:hover{
        .img{
            animation: tilt-shaking 0.5s infinite;
            scale: (1.05);
        }
    }
    @keyframes tilt-shaking {
        0% { transform: rotate(0deg); }
        25% { transform: rotate(5deg); }
        50% { transform: rotate(0eg); }
        75% { transform: rotate(-5deg); }
        100% { transform: rotate(0deg); }
    }
}
