<section class="main">
    <app-sidebar/>
    <div class="container">
        <div class="project">
            <div class="background">
                <div class="title">
                    <div class="icon-wrapper">
                        <img src="../../../../assets/check.svg"  class="card-icon">
                    </div>
                    <div class="card-title">Projeto</div>
                </div>
                <dropdown-opcoes  [options]="options"/>

            </div>
            
        </div>
        <div class="date">
             <div class="background">
                <div class="title">
                    <div class="icon-wrapper">
                        <img src="../../../../assets/check.svg"  class="card-icon">
                    </div>
                    <div class="card-title">Data</div>
                </div>
            </div>
        </div>
    </div>
</section>