:host {
  display: block;     /* fundamental p/ ocupar largura da coluna */
  width: 100%;
  height: 100%;
}

.chart-host {
  position: relative; /* Chart.js recomenda position:relative no wrapper */
  width: 100%;
  height: 100%;
}