<section class="main">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    
    <div class="conteiner">

        <div class="cards">
            <app-data-card class="card" [title]="horasFeitas" [description]="'Horas feitas no mês'"
            [imgUrl]="'../../../../assets/check.svg'"/>

            <app-data-card class="card" [title]="horasMinimas" [description]="'Minimo de horas no mês'"
            [imgUrl]="'../../../../assets/pin.svg'"/>

            <app-data-card class="card" [title]="calculoHoras" [description]="'Diferença de horas'"
            [imgUrl]="'../../../../assets/exclamation-triangle.svg'"/>
        </div>
        
        <div class="informations">
            <div class="graphic-data">
                <div>
                    <span class="text">ISSUES ENTREGUES POR MÊS</span>
                    <div class="point-graphic">
                        <app-point-graphic/>
                    </div>
                </div>
                <div class="issues-comparation">
                    <div class="background">
                        <div class="information">14%</div>
                        <div class="descripton">Crescimento no Nº de Entregas</div>
                    </div>
                    <div class="background">
                        <div class="information">17</div>
                        <div class="descripton">Demandas Concluídas com Atraso</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="background">
                    <span class="text">ANÁLISE DE ISSUES</span>
                    <div  class="pie-graphic">
                        <pie-graphic [values]="[100,2]" [labels]="['Atrasadas','Feitas']"/>
                    </div>
                    
                </div>
            </div>
            
            
        </div>
        
        <div class="data">
             <div class="users-active-data">
                <div class="background">
                    <div class="title">
                        <img src="../../../../assets/person.svg" alt="">
                        <span class="text">ENTREGAS DO MÊS</span>
                    </div>
                    <div class="card-users">
                        
                        <app-data-card  [title]="'6 issues'" [description]="'Gabriel Arantes'"
                            [imgUrl]="'../../../../assets/check.svg'" routerLink="/employee/data" />
                           
                        <app-data-card  [title]="'11 issues'" [description]="'Bruno Zotarelli'"
                            [imgUrl]="'../../../../assets/check.svg'"/>
                        <app-data-card  [title]="'8 issues'" [description]="'Lucas Henrique'"
                            [imgUrl]="'../../../../assets/check.svg'"/>
                        <app-data-card  [title]="'3 issues'" [description]="'Filipe Senra'"
                            [imgUrl]="'../../../../assets/check.svg'"/>
                        <app-data-card  [title]="'-2 issues'" [description]="'Filipe Ruiz Boligon'"
                            [imgUrl]="'../../../../assets/check.svg'"/>
                        <app-data-card  [title]="'9 issues'" [description]="'Thiago Zulli'"
                            [imgUrl]="'../../../../assets/check.svg'"/>   
                    </div>
                </div>
             </div>
        </div>

        
    </div>
</section>