<main>
    <app-sidebar></app-sidebar>
    <div class="conteiner">
        <app-data-card [title]="horasFeitas" [description]="'horas feitas no mês'"
        [imgUrl]="'../../../../assets/check.svg'"/>
        <app-data-card [title]="horasMinimas" [description]="'minimo de horas no mês '"
        [imgUrl]="'../../../../assets/pin.svg'"/>
        <app-data-card [title]="calculoHoras" [description]="'diferença de horas'"
        [imgUrl]="'../../../../assets/exclamation-triangle.svg'"/>
        <br>

    </div>
    
</main>