<div class="dropdown-container">
    <input
        type="text"
        placeholder="Escolha a Opção"
        [(ngModel)]="inputValue"
        (input)="filter($event)"
        (focus)="showDropdown = true"
        (blur)="onBlur()"
        class="input-dropdown"
    />

    <ul *ngIf="showDropdown" class="dropdown-list">
        <li *ngFor="let option of filteredOptions" (click)="selecionarOpcao(option)">
        {{ getLabel(option) }}
        </li>

        @if(!filteredOptions.length){
            <li class="muted" aria-disabled="true">
              {{empyLabel}}
            </li>
        }
        
    </ul>
</div>