$primary-color:#7C3AED;
$primery-light-color: #A78BFA;

$secundary-color1: #40E0D0;
$secundary-color2: #FFA500;

$background-color: #f7f7f7ef;
$background-dark-color: #e8e8e8ef;

$font-family-primary:'Poppins', sans-serif;
$font-title: 1.5rem;
$font-subtitle: 1rem;
$font-text: 0.9rem;
$font-weight-title: 450;
$font-weight: 300;
$text-color: #1A1A1A;
$text-light-color: #484848;

$img-logo: 1.7rem;
$background-img-color:#8b4cf974;


@mixin bg-default{
    background-color: $background-color;
    border-radius: 8px;
    padding: 0.5rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);

}
