<section class="sidebar">
    <section class="titulo" routerLink="">
        <img src="../../../../assets/tributech_logo.svg" alt="">
        <span class="label">TRIBUTECH</span>
    </section>
        
    <section class="menu">  

        <div class = "navegador-opcoes" routerLink="/" 
         routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="../../../../assets/house.svg" class = "icon"/>
            <span class="label">GERENCIAR</span>
        </div>
        <div class = "navegador-opcoes" routerLink="/employee" 
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="../../../../assets/person.svg" class = "icon"/>
            <span class="label">COLABORADORES</span>
        </div>
        
        <div class = "navegador-opcoes" routerLink="/config"
         routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="../../../../assets/clock.svg" class = "icon"/>
            <span class="label">PROJETO</span>
        </div>
        
    
        
    </section>
    <section class="footer">© 2025 Tributech Gestão Pública</section>
</section>
