<section class="sidebar">
    <section class="titulo" routerLink="">
        <img src="../../../../assets/tributech_logo.svg" alt="">
        <span>Tributech</span>
    </section>
        
    <section class="menu">  

        <div class = "navegador-opcoes" routerLink="/employee" 
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="../../../../assets/person.svg" class = "icon"/>
            <span>COLABORADORES</span>
        </div>
         <div class = "navegador-opcoes" routerLink="/" 
         routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="../../../../assets/house.svg" class = "icon"/>
            <span>GERENCIAR</span>
        </div>
         <div class = "navegador-opcoes" routerLink="/coeficiente"
         routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="../../../../assets/clock.svg" class = "icon"/>
            <span>PROJETO</span>
        </div>
        
    
        
    </section>
    <section class="footer">© 2025 Tributech Gestão Pública</section>
</section>
