<section class="sidebar">
    <section class="titulo" routerLink="">
        <img src="../../../../assets/tributech_logo.svg" alt="">
        <span>TRIBUTECH</span>
    </section>
        
    <section class="menu">  

        <div class = "navegador-opcoes" routerLink="/employee">
            <img src="../../../../assets/person.svg" class = "icon"/>
            <span>FUNCIONÁRIOS</span>
        </div>
         <div class = "navegador-opcoes" routerLink="/coeficiente">
            <img src="../../../../assets/house.svg" class = "icon"/>
            <span>GERENCIAR</span>
        </div>
         <div class = "navegador-opcoes" routerLink="/coeficiente">
            <img src="../../../../assets/clock.svg" class = "icon"/>
            <span>PROJETO</span>
        </div>
        
    
        
    </section>
    <section class="footer">Calculo de Horas</section>
</section>
