@import "../../../styles/variables.scss";

.sidebar{
    display: grid;
    grid-template-rows: 0.1fr 0.9fr 0.1fr ;
    background-color: $background-color;
    height: 100%;
    align-items: start;
    justify-content: space-between;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);

    * {
            background-color: inherit !important;
    }
    .titulo{
        display: flex;
        flex-direction: line;
        align-items: center;
        width: 15vw;
        margin: 0.5rem;
        font-family: Poppins, sans-serif;
        color: $text-color;
        font-size: 1.5rem;
        border-bottom: 1px solid $text-light-color;
        padding: 1rem;
        cursor: pointer;
        img{
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 0.5rem;
        }
    }

    .menu{
        display: flex;
        flex-direction: column;
        background-color: $background-color;
        align-items: baseline;
        justify-content: center;
        gap: 1rem;
        .navegador-opcoes{
            display: flex;
            margin-left: 1rem;
            width: 15vw;
            align-items: center;
            justify-content: start;
            font-size: $font-subtitle;
            font-family: Poppins, sans-serif;
            padding: 0.5rem ;
            color: $text-color;
            width: 85%;
            cursor: pointer;
            background-color: inherit !important;
            transition: all 0.3s ease;
            

            .icon{
                width: $img-logo;
                height: $img-logo;
                margin-right: 0.5rem;
            }
            
            &:HOVER{
                border-bottom: 1.5px solid $primary-color;
                padding: 0.3rem;
                color: $primary-color;
                transform: scale(1.1);
                background-color: $primary-color;
            }
            
            &.active{
                color:$primary-color;
                border-bottom:1.5px solid $primary-color;

                .icon { filter: brightness(0) invert(1); }
            }
    
        }
    }

    .footer{
        width: 15vw;
        display: flex;
        flex-direction: column;
        align-items: self-end;
        justify-content: center;
        font-family: Poppins, sans-serif;
        color: $text-color;
        font-size: 0.8rem;
        text-align: center;
        padding: 1rem;
        border-top: 1px solid $text-light-color;
    }

}
