<section class="main">
    <app-sidebar/>
    <section class="conteiner">
        
        <div class="user-params">
            <div class="card-data">
            <app-data-card class="card" [title]="'calculoHoras'" [description]="'diferença de horas'"
            [imgUrl]="'../../../../assets/exclamation-triangle.svg'"/>
             <app-data-card class="card" [title]="'calculoHoras'" [description]="'diferença de horas'"
            [imgUrl]="'../../../../assets/exclamation-triangle.svg'"/>
             <app-data-card class="card" [title]="'calculoHoras'" [description]="'diferença de horas'"
            [imgUrl]="'../../../../assets/exclamation-triangle.svg'"/>
            </div>
        </div>
        <div class="user-card">
            <div class="background">
                <div class="card">
                    <div class="img">
                        <img src="../../../../assets/person.svg" alt="" class="card-img">
                    </div>
                    <div class="text">
                        <span class="name">
                            Gabriel Arantes
                        </span>
                        <span class="description">
                            gabriel.arantes@tributech.com.br
                        </span>
                    </div>
                </div>
                
            </div>
        </div>


    </section>
</section>