<section class="main">
    <app-sidebar/>
    <div class="conteiner">
        
        <div class="user-card">
            <div class="background">
                <div class="card">
                    <div class="img">
                        <img src="../../../../assets/person.svg" alt="" class="card-img">
                    </div>
                    <div class="text">
                        <span class="name">
                            Gabriel Arantes
                        </span>
                        <span class="description">
                            gabriel.arantes@tributech.com.br
                        </span>
                    </div>
                </div>
                
            </div>

             <div class="issue-data">
                <app-data-card class="card" [title]="'12'" [description]="'Issues Criadas/Modificadas'"
                    [imgUrl]="'../../../../assets/pen.svg'"/>
            </div>
        </div>
        
        <div class="card-data">
            <app-data-card class="card" [title]="issueCount" [description]="'Issues Feitas / Mês'" [label]="'Issues'"
            [imgUrl]="'../../../../assets/exclamation-triangle.svg'"/>
            <app-data-card class="card" [title]="hoursRemain" [description]="'Horas Necessárias'"
            [imgUrl]="'../../../../assets/exclamation-triangle.svg'"/>
            <app-data-card class="card" [title]="hoursApontadas" [description]="'Horas Apontadas'"
            [imgUrl]="'../../../../assets/exclamation-triangle.svg'"/>
        </div>
               
        <div class="table-issue">
            <div class="background">
                <div class="header">
                    <div class="header-icon">
                        <img src="../../../../assets/table.svg" alt="Issues icon">
                    </div>
                    <h3 class="header-title">Issues sob Responsabilidade</h3>
                    <div class="header-badge">{{CountIssues}}</div>
                </div>
                <div class="table">
                    <app-table [itens]="issuesTable"
                    (item)="goToIssue($event)"/>
                </div>
            </div>
        </div>

        <div class="user-graphic">
            <div class="background">
                <div class="title">
                    <div class="icon-wrapper">
                        <img src="../../../../assets/check.svg"  class="card-icon">
                    </div>
                    <div class="card-title">ANÁLISE DE ISSUES</div>
                </div>
                <pie-graphic [values]="chartValues()" [labels]="['Ajudando','Executando']" [graphicLabel]="'Horas'"/>
            </div>
        </div>
    </div>
<section>